os: osx

language: rust
rust:
    - nightly

cache: cargo

matrix:
    include:
        - os: osx
          osx_image: xcode9.4
        - os: osx
          osx_image: xcode10.1
        - os: osx
          osx_image: xcode11.6
        - os: osx
          osx_image: xcode12.2

install:
    - pip3 install -r requirements.txt

script:
    - python3 --version
    - python3 test.py
    - python3 testCpp.py
    - python3 testRust.py
